.navbar a {
    padding: 1rem;
    text-decoration: none;
    color: #333 !important;
    font-weight: bold;
 
}
.btn{
    width: 150px;
    border-color: #CED4DA;
}
.btn:hover{
    background-color: #FF9100;
    color: white;
    border: none;

}

.navbar a.active {
    color: #FF9100 !important;
}

.end{
    background-color: #FF9100;
    font-weight: 700;
}

.card{
    width: 30rem;
    border: none;
}

.center{
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
    margin-top: 5em;
}

.card-header{
    background-color: #ff910080;
    font-weight: 700;
    text-align: center;
}
.dash{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.btn-primary{
    background-color: #FF9100;
    border: none;
    width: 20rem;

}
.btn-primary:hover{
    background-color: #333;
}

