.navbar a {
    padding: 1rem;
    text-decoration: none;
    color: #333 !important;
    font-weight: bold;
 
}
.btn{
    width: 150px;
    border-color: #CED4DA;
    margin: 0;
   
}
.btn:hover{
    background-color: #FF9100;
    color: white;
    border: none;

}

.navbar a.active {
    color: #FF9100 !important;
}

.end{
    background-color: #FF9100;
    font-weight: 700;
}

.card{
    width: 30rem;
    border: none;
}

.center{
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
    margin-top: 5em;
}

.card-header{
    background-color: #ff910080;
    font-weight: 700;
    text-align: center;
}
.dash{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.btn-primary{
    background-color: #FF9100;
    border: none;
    width: 20rem;

}
.btn-primary:hover{
    background-color: #333;
}
td:hover{
    color: white;
    background-color: #FF9100;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
  }
  
  footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    
    bottom: 0;
}